@CHARSET "UTF-8";

table {
	width: auto;
	border-collapse: collapse;
	text-align: center;
}
 
td,th {
	font-size: 10pt;
	border: 1px solid #98bf21;
	height: 30px;
	padding: 5px;
}

th { /*테이블 head 스타일 정의*/
	background-color: #A7C942;
	color: #ffffff; 
	font-family: Georgia;
}

tr td { /*테이블 head제외의 스타일 정의*/
	color: #000000;
	background-color: #EAF2D3;
}

input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}